<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Show Stores</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lat">Latitude</label>
  <div class="controls">
    <input id="lat" name="lat" type="text" placeholder="50.11" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="long">longditude</label>
  <div class="controls">
    <input id="long" name="long" type="text" placeholder="-0.147" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="search">Store Search</label>
  <div class="controls">
    <button id="search" name="search" class="btn btn-default">Search</button>
  </div>
</div>

<el id="result"></el>
</fieldset>
</form>
